#useful_forks_msg {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#useful_forks_header {
  text-align: center;
  margin-bottom: 35px;
}

#useful_forks_inject {
  margin-top: 20px;
}

.uf_badge svg {
  display: table-cell;
  padding-top: 3px;
}

tr:hover {
  background-color: #e2e2e2 !important;
}

tr:nth-child(odd) {
  background-color: #f5f5f5;
}

table {
  margin: 0 auto !important;
}

#button-group {
  visibility: hidden;
}

.search-container {
  min-width: 60%;
  max-width: 800px;
  display: inline-block;
}

.allButFooter {
  min-height: calc(100vh - 200px);
}