#useful_forks_msg {
  text-align: center;
  padding-bottom: 20px;
}

.uf_badge svg {
  display: table-cell;
  padding-top: 3px;
}

tr:hover {
  background-color: #e2e2e2 !important;
}

tr:nth-child(even) {
  background-color: #f5f5f5;
}

table {
  margin: 0 auto !important;
}

#button-group {
  visibility: hidden;
}

.search-container {
  min-width: 60%;
  max-width: 800px;
  display: inline-block;
}

.container {
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-align-items: center; /* Safari 7.0+ */
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

#useful_forks_info {
  margin-left: 10px;
}

#tooltip {
  background: cornsilk;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}

.allButFooter {
  min-height: calc(100vh - 200px);
}