text {
  font: 12px sans-serif;
}

#chart {
  visibility: hidden;
  display: block;
  margin: auto;
  padding: 10px;
  max-width: 800px;
  min-width: 70%;
  /* height: 75vh; */
}

#button-group {
  visibility: hidden;
}

.search-container {
  min-width: 70%;
  max-width: 800px;
  display: inline-block;
}